html {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Amatic SC', cursive;
}

.bdy {
  margin: 0;
  padding: 0;
  perspective: 1px;
  overflow: hidden;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  color: #fff;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
}

header h1 {
  margin-top: -100px;
  font-size: 60px;
  font-weight: bold;
}
header p {
  margin-top: -100px;
  font-size: 30px;
}

header, header:before {
  background: 50% 50% / cover;
}

header::before {
  bottom: 0;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: url(parallax.jpg);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

header * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

section {
  background-color: #a9c8f9;
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 1;
}

nav {
  position: fixed;
  width: 100%;
  height: 10vmin;
  top: 0;
  left: 0;
  background: #fff;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .3s;
  z-index: 2;
  overflow: hidden;
}

nav .logo {
  padding: 22px 20px;
  height: 80px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: red;
  float: left;
  transition: .3s;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height: 80px;
  color: #262626;
  font-size: 30px;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

nav.white ul li a {
  color: #000;
}

nav ul li a:focus {
  outline: none;
}

nav ul li a.active {
  background: #E2475F;
  color: #fff;
  border-radius: 6px;
}

nav ul li a.active,
nav ul li a:hover {
  color: #fff;
  background: red;
}

@media(max-width: 786px) {
 
      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }
 
      nav ul {
            max-height: 0px;
            background: #000;
      }
 
      nav.white ul {
            background: #000;
      }
 
      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }
 
      .menu-icon {
            display: block;
      }
 
}

#MainContent {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #9f9fa0;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

#AccordMenu {
  width: 400px;
  height: auto;
  margin: 100px auto;
  font-weight: bold;
}

#Text {
  height: 100vmin;
  width: 150vmin;
}

.item label {
  display: block;
  padding: 10px;
  background-color: brown;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  border-bottom: solid 2px #aaa;
}

.item label:hover {
  background-color: #f2673a;
}

.item ul {
  width: 100%;
  list-style: none;
  overflow: hidden;
  max-height: 0;
  transition: all .4s linear;
  margin: 0;
  padding: 0;
}

.item ul li a {
  margin: 2px;
  width: 100%;
  height: 20px;
  padding: 10px;
  display: block;
  text-decoration: none;
  background-color: #434343;
  color: #fff;
  border-bottom: solid 2px #aaa;

}

.item input:checked ~ ul{
  height: auto;
  max-height: 200px;
  transform: all;
}

.item input {
  display: none;
}

.item ul li a:hover{
  background-color: #9CF;
}

#cont {
  margin-top: 13vmin;
  margin-bottom: 13vmin;
  margin-left: 5vmin;
  background: #fc873f;  
  border: 4px double black;
  width: 135vmin;
  height: 80vmin;
  font-size: 40px;
  text-align: center;
  padding: 20px;
}